<h4>MeatMarket</h4>
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Requested Adverts</h3>
  </div>
  <div class="panel-body">
    <div class="table-responsive">
      <table id="table_starting_fifteen" class="table table-striped table-bordered  table-hover " style="font-size:10px;">
        <thead>
        <tr>
          <th class="text-center" >#</th>
          <th class="text-center" >Request Number</th>
          <th class="text-center" >Import ID</th>
          <th class="text-center" >Import File</th>
          <th class="text-center" >View Request</th>
        </tr>
        </thead>
        <tbody>
        <% count = 0 %>
        <% @adverts.each do |request| %>
            <tr>
              <td class="text-center"  ><%= count += 1 %></td>
              <td class="text-center"><%= count %></td>
              <td class="text-center"><%= request %></td>
              <td class="col-md-2"><%= request.imported_file %></td>
              <td class="text-center"><%=  %></td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>
