<h4>Assets: Summary</h4>
<table class="table table-bordered table-striped">
  <thead>
  </thead>
  <tr class="success">
    <th class="text-center"> All Voices</th>
  </tr>
  <tr>
  <tr>
    <th class="text-center">Type</th>
    <th class="text-center">Total</th>
    </th>
  </tr>
  <tbody>
  <tr class="info">
    <td class="">Pre-Recorded Bodies: English</td>
    <td class="text-center"><%= @pb_bodies.where(lang_code: 'L02').size %></td>
  </tr>
  <tr class="warning">
    <td class="">Pre-Recorded Bodies: Afrikaans</td>
    <td class="text-center"><%= @pb_bodies.where(lang_code: 'L01').size %></td>
  </tr>
  <tr class="info">
    <td class="">Value 'VALA1' Files: English</td>
    <td class="text-center"><%= @price_value_files.where(value_type: 'VALA1', lang_code: 'L02').size %></td>
  </tr>
  <tr class="warning">
    <td class="">Value 'VALA1' Files: Afrikaans</td>
    <td class="text-center"><%= @price_value_files.where(value_type: 'VALA1', lang_code: 'L01').size %></td>
  </tr>
  <tr class="info">
    <td class="">Value 'VALB1' Files: English</td>
    <td class="text-center"><%= @price_value_files.where(value_type: 'VALB1', lang_code: 'L02').size %></td>
  </tr>
  <tr class="warning">
    <td class="">Value 'VALB1' Files: Afrikaans</td>
    <td class="text-center"><%= @price_value_files.where(value_type: 'VALB1', lang_code: 'L01').size %></td>
  </tr>
  <tr class="info">
    <td class="">Value 'VALA2' Files: English</td>
    <td class="text-center"><%= @price_value_files.where(value_type: 'VALA2', lang_code: 'L02').size %></td>
  </tr>
  <tr class="warning">
    <td class="">Value 'VALA2' Files: Afrikaans</td>
    <td class="text-center"><%= @price_value_files.where(value_type: 'VALA2', lang_code: 'L01').size %></td>
  </tr>
  <tr class="info">
    <td class="">Value 'VALB2' Files: English</td>
    <td class="text-center"><%= @price_value_files.where(value_type: 'VALB2', lang_code: 'L02').size %></td>
  </tr>
  <tr class="warning">
    <td class="">Value 'VALB2' Files: Afrikaans</td>
    <td class="text-center"><%= @price_value_files.where(value_type: 'VALB2', lang_code: 'L01').size %></td>
  </tr>
  <tr class="info">
    <td class="">Per Unit Size Files: English</td>
    <td class="text-center"><%= @price_value_files.where(value_type: 'UNITSIZE', lang_code: 'L02').size %></td>
  </tr>
  <tr class="warning">
    <td class="">Per Unit Size Files: Afrikaans</td>
    <td class="text-center"><%= @price_value_files.where(value_type: 'UNITSIZE', lang_code: 'L01').size %></td>
  </tr>
  <tr>
    <td class="">Music Files</td>
    <td class="text-center"><%= @music.size %></td>
  </tr>
  </tbody>
</table>
<% @voice_artists.each do |voice_artist| %>
    <br>
    <table class="table table-bordered table-striped">
      <thead>
      <tr class="success">
        <th class="text-center">Voice Artist: <%= voice_full_name(voice_artist.rr_voice_code) %></th>
      </tr>
      <tr>
        <th class="text-center">Type</th>
        <th class="text-center">Total</th>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr class="info">
        <td class="">Pre-Recorded Bodies: English</td>
        <td class="text-center"><%= @pb_bodies.where(rr_voice_code: voice_artist.rr_voice_code, lang_code: 'L02').size %></td>
      </tr>
      <tr class="warning">
        <td class="">Pre-Recorded Bodies: Afrikaans</td>
        <td class="text-center"><%= @pb_bodies.where(rr_voice_code: voice_artist.rr_voice_code, lang_code: 'L01').size %></td>
      </tr>
      <tr class="info">
        <td class="">Value 'VALA1' Files: English</td>
        <td class="text-center"><%= @price_value_files.where(rr_voice_code: voice_artist.rr_voice_code, value_type: 'VALA1', lang_code: 'L02' ).size %></td>
      </tr>
      <tr class="warning">
        <td class="">Value 'VALA1' Files: Afrikaans</td>
        <td class="text-center"><%= @price_value_files.where(rr_voice_code: voice_artist.rr_voice_code, value_type: 'VALA1', lang_code: 'L01' ).size %></td>
      </tr>
      <tr class="info">
        <td class="">Value 'VALB1' Files: English</td>
        <td class="text-center"><%= @price_value_files.where(rr_voice_code: voice_artist.rr_voice_code, value_type: 'VALB1', lang_code: 'L02' ).size %></td>
      </tr>
      <tr class="warning">
        <td class="">Value 'VALB1' Files: Afrikaans</td>
        <td class="text-center"><%= @price_value_files.where(rr_voice_code: voice_artist.rr_voice_code, value_type: 'VALB1', lang_code: 'L01' ).size %></td>
      </tr>
      <tr class="info">
        <td class="">Value 'VALA2' Files: English</td>
        <td class="text-center"><%= @price_value_files.where(rr_voice_code: voice_artist.rr_voice_code, value_type: 'VALA2', lang_code: 'L02' ).size %></td>
      </tr>
      <tr class="warning">
        <td class="">Value 'VALA2' Files: Afrikaans</td>
        <td class="text-center"><%= @price_value_files.where(rr_voice_code: voice_artist.rr_voice_code, value_type: 'VALA2', lang_code: 'L01' ).size %></td>
      </tr>
      <tr class="info">
        <td class="">Value 'VALB2' Files: English</td>
        <td class="text-center"><%= @price_value_files.where(rr_voice_code: voice_artist.rr_voice_code, value_type: 'VALB2', lang_code: 'L02' ).size %></td>
      </tr>
      <tr class="warning">
        <td class="">Value 'VALB2' Files: Afrikaans</td>
        <td class="text-center"><%= @price_value_files.where(rr_voice_code: voice_artist.rr_voice_code, value_type: 'VALB2', lang_code: 'L01' ).size %></td>
      </tr>
      <tr class="info">
        <td class="">Per Unit Size Files: English</td>
        <td class="text-center"><%= @price_value_files.where(rr_voice_code: voice_artist.rr_voice_code,value_type: 'UNITSIZE', lang_code: 'L02').size %></td>
      </tr>
      <tr class="warning">
        <td class="">Per Unit Size Files: Afrikaans</td>
        <td class="text-center"><%= @price_value_files.where(rr_voice_code: voice_artist.rr_voice_code,value_type: 'UNITSIZE', lang_code: 'L01').size %></td>
      </tr>
      </tbody>
    </table>
<% end %>
