<h4>Assets: Pre-Recorded Bodies</h4>
<table id="table_starting_ten" class="table table-bordered table-striped">
  <thead>
  <tr>
    <th class="text-center">ItemCode</th>
    <th class="text-center">Description</th>
    <th class="text-center">Script</th>
    <th class="text-center">Voice</th>
    </th>
  </tr>
  </thead>
  <tbody>
  <% @pb_bodies.each do |body| %>
      <tr>
        <td><%= body.item_code %></td>
        <td><%= body.description %></td>
        <td><%= body.script %></td>
        <td><%= voice_full_name(body.rr_voice_code)%></td>
      </tr>
  <% end %>
  </tbody>
</table>
