<h4>Assets Required</h4>
<div class="panel panel-primary">
  <div class="panel-body">
    <div class="table-responsive">
      <table id="table_starting_fifteen" class="table table-striped table-bordered  table-hover " style="font-size:10px;">
        <thead>
        <tr>
          <th class="text-center" >#</th>
          <th class="text-center" >Item Code</th>
          <th class="text-center" >Description</th>
          <th class="text-center" >Language</th>
          <th class="text-center" >Times Required</th>
          <th class="text-center" >Now Available</th>
        </tr>
        </thead>
        <tbody>
        <% count = 0 %>
        <% @pb_required_distinct.each do |advert| %>
            <tr>
              <td class="text-center"><%= count += 1 %></td>
              <td class="text-center"><%= advert.item_code  %></td>
              <td class="text-center"><%= advert.product  %></td>
              <td class="text-center"><%= advert.lang_full  %></td>
              <td class="text-center"><%=  @pbs_required_all.where(item_code: advert.item_code).size %></td>
              <td class="text-center"><%=  @pbs_all.find_by(item_code: advert.item_code).nil? != true %></td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
