
<h4>MeatMarket: Request Jobs</h4>
<div class="panel panel-primary">
  <div class="panel-body">
    <div class="table-responsive">
      <table id="table_starting_fifteen" class="table table-striped table-bordered  table-hover " style="font-size:10px;">
        <thead>
        <tr>
          <th class="text-center" >Job ID</th>
          <th class="text-center" >Import ID</th>
          <th class="text-center" >Job Name</th>
          <th class="text-center" >Start Date</th>
          <th class="text-center" >End Date</th>
          <th class="text-center" >Requests</th>
          <th class="text-center" >Show Requests</th>
          <th class="text-center" >Adverts</th>
          <th class="text-center" >Show Adverts</th>
          <th class="text-center" >Adverts Unavail</th>
          <th class="text-center" >Job Action</th>
          <th class="text-center" >Job Created</th>
          <th class="text-center" >Job Updated</th>
          <th class="text-center" >View Job</th>

        </tr>
        </thead>
        <tbody>
        <% count = 0 %>
        <% def start_date(job)
             return 'empty' if @adverts_all.where(import_id: job.import_id).empty?
               res =  @adverts_all.where(import_id: job.import_id).order('start_date ASC').first.start_date
                return res unless res.nil?
                'oops'
           end

           def end_date(job)
             return 'empty' if @adverts_all.where(import_id: job.import_id).empty?
            res = @adverts_all.where(import_id: job.import_id).order('end_date ASC').last.end_date
             return res unless res.nil?
            'oops'
           end
           def advert_count(job)
             @adverts_all.where(import_id: job.import_id).size
           end
           @request_jobs.sort_by { |m| [m.created_at, m.updated_at].max }.reverse.each do |job| %>
            <tr>
              <td class="text-center"><%= job.id  %></td>
              <td class="text-center"><%= job.import_id  %></td>
              <td class="text-left"><%= job.job_name.split('/').last %></td>
              <td class="text-center"> <%= start_date(job) %></td>
              <td class="text-center" ><%= end_date(job) %></td>
              <td class="text-center"><%= @requests_all.where(import_id: job.import_id).size %></td>
              <td class="text-center"><%= link_to('View', mm_request_path(job.import_id), method: :get, class: 'btn btn-primary btn-xs')  %></td>
              <td class="text-center"><%= advert_count(job) %></td>
              <td class="text-center"><%= link_to('View', mm_advert_path(job.import_id), method: :get, class: 'btn btn-primary btn-xs') unless advert_count(job).eql?(0) %></td>
              <td class="text-center"><%= @adverts_all.where(import_id: job.import_id, pb_available: false).size %></td>
              <td class="text-center"><%= process_by_state(job) %></td>
              <td class="text-center"><%= job.created_at.to_formatted_s(:db)  %></td>
              <td class="text-center"><%= job.updated_at.to_formatted_s(:db)  %></td>
              <td class="text-center"><%= button_to('Show', mm_request_job_path(job.import_id),
                                                    method: :get, class: 'btn btn-primary btn-xs') %></td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
