<h5>MeatMarket : Job Details</h5>
<div class="panel panel-primary">
  <div class="panel-primary">
    <div class="panel-heading"> ID: <%= @import.import_id %> - <%= @import.job_name.gsub('_', ' ') %></div>
  </div>
  <div class="panel-body">
    <table id="table_starting_fifteen" class="table table-striped table-bordered  table-hover " style="font-size:10px;">
      <thead>
      <tr>
        <th class="text-center" >#</th>
        <th class="text-center" >Advert ID:</th>
        <th class="text-center" >Description</th>
        <th class="text-center" >From</th>
        <th class="text-center" >To</th>
        <th class="text-center" >Halaal/Kosher</th>
        <th class="text-center" >PB Avail</th>
        <th class="text-center" >Request Processed</th>
        <th class="text-center" >SPM Code</th>
      </tr>
      </thead>
      <tbody>
      <% count = 0 %>
      <% error_count = 0 %>
      <% @adverts.each do |advert| %>
          <tr class="<%= row_state(advert) %>">
            <td class="text-center"  ><%=  count += 1 %></td>
            <td class="text-center"  ><%=  advert.id %></td>
            <td class="text"><%= advert.description %></td>
            <td class="text-center"><%= advert.start_date %></td>
            <td class="text-center"><%= advert.end_date %></td>
            <td class="text-center"> <i class="fa fa-<%= status_halaal(advert) %> fa-2x" aria-hidden="true"></i></td>
            <td class="text-center"> <i class="fa fa-<%= pb_available(advert ) %> fa-2x" aria-hidden="true"></i></td>
            <td class="text-center"> <i class="fa fa-<%= request_processed(advert ) %> fa-2x" aria-hidden="true"></i></td>
            <td class="text"><%= advert.spm_code %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
  <div class="table-responsive">
    <table class="table table-bordered table-striped">
      <tbody>
      <tr>
        <td class="text-center"><%= button_to "Back", :back, method: :get, class: "btn btn-success btn-sm"  %></td>
        <td class="text-center"><%= button_to "Request Jobs", mm_request_jobs_path, method: :get, class: "btn btn-success btn-sm"  %></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<i class="icon-github"></i>
