<h4>Import Specials</h4>
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Processing: <%= @file_name %></h3>
  </div>
  <div class="panel-body">
    Please check the import and use the options at the bottom of this page.
    <div class="table-responsive">
      <table id="table_starting_fifteen" class="table table-striped table-bordered  table-hover " style="font-size:10px;">
        <thead>
          <tr>
            <th class="text-center" >#</th>
            <th class="text-center" >Item Code</th>
            <th class="text-center" >Item Description</th>
            <th class="text-center" >Brand</th>
            <th class="text-center" >Region</th>
            <th class="text-center" >Store Code</th>
            <th class="text-center" >Store Name</th>
            <th class="text-center" >From</th>
            <th class="text-center" >To</th>
            <th class="text-center" >Price</th>
            <th class="text-center" >Unit</th>
            <th class="text-center" >Extra</th>
            <th class="text-center" >MSG</th>
          </tr>
        </thead>
        <tbody>
          <% count = 0 %>
          <% error_count = 0 %>
          <% @requests.each do |request| %>
            <tr class="<%= row_state(request.request_ok) %>">
              <td class="text-center"  ><%=  count += 1 %></td>
              <td class="text-center"><%= request.item_code %></td>
              <td class="col-md-2"><%= request.item_descr %></td>
              <td > <%= request.brand_short %></td>
              <td class="col-md-2 <%= status_region(request.region_short)%>"> <%= clean_array(request.region_short) %></td>
              <td > <%= request.store_code %></td>
              <td > <%= request.store_name %></td>
              <td class="text-center"><%= request.from.strftime("%d-%b-%Y") %></td>
              <td class="text-center"><%= request.to.strftime("%d-%b-%Y")  %></td>
              <td class="text-center"><%= number_to_currency(request.price, :unit => "") %></td>
              <td class="text-center"><%= request.unit %></td>
              <td class="text-center"><%= request.extra_1 %></td>
              <td class="text-center"><%= button_type(request.request_ok) %></td>
            </tr>
            <% error_count += 1 unless request.request_ok %>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="table-responsive">
      <table class="table table-bordered table-striped">
        <tbody>
          Total Rows: <%= count %>
          Failures:  <%= error_count %>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="table-responsive">
  <table class="table table-bordered table-striped">
    <tbody>
      <td class="text-center"><%= button_to "Cancel",  root_path, method: :get, class: "btn btn-danger"  %></td>
      <% unless error_count > 0 %>
        <td class="text-center"><%= button_to "Create Job", mm_advert_path(id: @requests.first.import_id), method: :put, class: "btn btn-success"  %></td>
      <% end %>
    </tr>
  </tbody>
</table>
</div>
</div>
</div>
