<div class="panel panel-primary">
  <div class="panel-heading">
    <h4 class="panel-title">Processing: <%= @file_name %></h4>
  </div>
  <div class="panel-body">
    Please check the import and use the options at the bottom of this page.
    <div class="table-responsive">
      <table id="table_starting_fifteen" class="table table-striped table-bordered  table-hover " style="font-size:10px;">
        <thead>
          <tr>
            <th class="text-center" >#</th>
            <th class="text-center" >Item Code</th>
            <th class="text-center" >Item Description</th>
            <th class="text-center" >Brand</th>
            <th class="text-center" >Region</th>
            <th class="text-center" >From</th>
            <th class="text-center" >To</th>
            <th class="text-center" >Price</th>
            <th class="text-center" >Unit</th>
            <th class="text-center" >Extra</th>
            <th class="text-center" >Extra</th>
            <th class="text-center" >MSG</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
    <div class="table-responsive">
      <table class="table table-bordered table-striped">
        <tbody>
          <% @imported.each do |import| %>
            <%= import.inspect %> <br>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>
