<h4>Import</h4>
<br/>
<%= link_to "New Import", new_import_path, class: "btn btn-info btn-xs" %>
<br />
<br />
<table id="table_starting_fifteen" class="table table-bordered table-striped">
  <thead>
  <tr>
    <th class="text-center">Import#</th>
    <th class="text-center">Date</th>
    <th class="text-center">Description</th>
    <th class="text-center">Uploader</th>
    <th class="text-center">Process</th>
    <th class="text-center">Note</th>
    <th class="text-center">Trash</th>
    </th>
  </tr>
  </thead>
  <tbody>
  <% @imports.sort.reverse.each do |import| %>
      <% next if import.imported_file.file.nil? %>
      <tr class="<%= import_row_color(import) %>">
        <td class="text-center"><%= import.id %></td>
        <td ><%= date_format(import.created_at) %></td>
        <td ><%= File.basename(import.imported_file.file.file) %></td>
        <td ><%= User.where(id: import.user_id)[0].email %></td>
        <td class="text-center"><%= process_by_type(import) %></td>
        <td class="text-center"><%= import.note %></td>
        <td class="text-center"><%= trash_or_locked(import) %></td>
      </tr>
  <% end %>
  </tbody>
</table>
<br />
<br />
<br />
<br />
<br />
<br />
<%= link_to "Destroy All", imports_destroy_all_path(@imports), class: "btn btn-alert" %>
<br />


