<h4>Imports</h4>
<% if !@import.errors.empty? %>
  <div class="alert alert-error">
    <ul>
      <% @import.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<div class="well">
  <%= simple_form_for @import, html: { multipart: true } do |f| %>
    <%= f.label :imported_file %>
    <%= f.file_field :imported_file %><br>
    <%= f.submit "Save", class: "btn btn-primary btn-sm", data: { disable_with: "Uploading. Please wait..." } %>
  <% end %>
</div>
