<h4>Halaal Stores</h4>
<div class="panel panel-primary">
  <div class="panel-body">
    <div class="table-responsive">
      <table id="table_starting_fifteen" class="table table-striped table-bordered  table-hover " style="font-size:10px;">
        <thead>
        <tr>
          <th class="text-center" >#</th>
          <th class="text-center" >Store  Code</th>
          <th class="text-center" >Store Name</th>
          <th class="text-center" >Store Division</th>
        </tr>
        </thead>
        <tbody>
        <% count = 0 %>
        <% @halaal_stores.each do |store| %>
            <tr>
              <td class="text-center"><%= count += 1 %></td>
              <td class="text-left"><%= generate_rr_code(store.branch_code) %></td>
              <td class="text-left"><%= store.store_name %></td>
              <td class="text-left"><%= store.store_division %></td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
