<h4>Non Halaal Products</h4>
<div class="panel panel-primary">
  <div class="panel-body">
    <div class="table-responsive">
      <table id="table_starting_fifteen" class="table table-striped table-bordered  table-hover " style="font-size:10px;">
        <thead>
        <tr>
          <th class="text-center" >#</th>
          <th class="text-center" >Item  Code</th>
          <th class="text-center" >Item Description</th>
        </tr>
        </thead>
        <tbody>
        <% count = 0 %>
        <% @non_halaal_products.each do |product| %>
            <tr>
              <td class="text-center"><%= count += 1 %></td>
              <td class="text-left"><%= product.item_code%></td>
              <td class="text-left"><%= product.description %></td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
