<h1>Long Service Requests - Show</h1>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Requests: <%= @file_name %></h3>
  </div>
  <div class="panel-body">
    <div class="table-responsive">
      <table class="table table-striped table-bordered  table-hover " style="font-size:10px;">
        <thead>
        <tr>
          <th class="text-center" >#</th>
          <th class="text-center" >Import ID</th>
          <th class="text-center" >Date Joined</th>
          <th class="text-center" >Years Service</th>
          <th class="text-center" >Employee Number</th>
          <th class="text-center" >Preferred Name</th>
          <th class="text-center" >Last Name</th>
          <th class="text-center" >Location</th>
          <th class="text-center" >Store Code</th>
          <th class="text-center" >Store Payroll</th>
          <th class="text-center" >Store Name</th>
          <th class="text-center" >Payroll</th>
          <th class="text-center" >Language</th>
        </tr>
        </thead>
        <tbody>
        <% count = 0 %>
        <% error_count = 0 %>
        <% @requests.each do |request| %>
            <tr class="<%= row_state(request.request_ok) %>">
              <td class="text-center"  ><%=  count += 1 %></td>
              <td class="text-center"><%= request.import_id %></td>
              <td class="col-md-2"><%= request.years_service %></td>
              <td > <%= request.employee_number %></td>
              <td class="col-md-2"> <%= request.preferred_name %></td>
              <td > <%= request.last_name %></td>
              <td > <%= request.location %></td>
              <td class="text-center"><%= request.store_code %></td>
              <td class="text-center"><%= request.store_patroll  %></td>
              <td class="text-center"><%= request.store_name %></td>
              <td class="text-center"><%= request.payroll %></td>
              <td class="text-center"><%= request.language %></td>
            </tr>
            <% error_count += 1 unless request.request_ok %>
        <% end %>
        </tbody>
      </table>
    </div>
    <div class="table-responsive">
      <table class="table table-bordered table-striped">
        <tbody>
        Total Rows: <%= count %>
        Failures:  <%= error_count %>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <% unless MmRequestJob.where(import_id: @requests.first.import_id)[0][:request_accepted] && MmRequestJob.where(import_id: @requests.first.import_id)[0][:advert_requests_accepted] %>
      <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <tbody>
          <td class="text-center"><%= button_to "Cancel",  root_path, method: :get, class: "btn btn-danger"  %></td>
          <% unless error_count > 0 %>
              <%  MmRequestJob.where(import_id: @requests.first.import_id).update(request_accepted: true) %>
              <td class="text-center"><%= button_to "Accept Requests", mm_adverts_path(id: @requests.first.import_id), method: :post, class: "btn btn-success"  %></td>
          <% end %>
          </tr>
          </tbody>
        </table>
      </div>
  <% end %>
</div>
</div>

</br></br></br></br></br></br></br></br></br></br></br></br></br></br>
<%= console %>
