<h4>MeatMarket Requests</h4>
<p> Still need to sort this out</p>
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Processing: <%= @file_name %></h3>
  </div>
  <div class="panel-body">
    Please check the import and use the options at the bottom of this page.
    <div class="table-responsive">
      <table id="table_starting_ten" class="table table-striped table-bordered  table-hover " style="font-size:10px;">
        <thead>
        <tr>
          <th class="text-center" >#</th>
          <th class="text-center" >Import ID</th>
          <th class="text-center" >Request Name</th>
          <th class="text-center" >View Request</th>
        </tr>
        </thead>
        <tbody>
        <% count = 0 %>
        <% @requests.each do |request| %>
            <tr>
              <td class="text-center"  ><%= count += 1 %></td>
              <td class="text-center"><%= request.id %></td>
              <td class="col-md-2"><%= request_title(request) %></td>
              <td class="text-center"><%=link_to('View', {:controller => :mm_requests, :action => 'show', :id => request.id}, class: 'btn btn-primary btn-xs')  %></td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>
