<h5>MeatMarket : Request Details</h5>
<div class="panel panel-primary">
  <div class="panel-primary">
    <div class="panel-heading"> ID: <%= @import.import_id %> - <%= @import.job_name.gsub('_', ' ') %></div>
  </div>
  <div class="panel-body">
    <div class="table-responsive">
      <table id="table_starting_ten" class="table table-striped table-bordered  table-hover " style="font-size:10px;">
        <thead>
        <tr>
          <th class="text-center" >#</th>
          <th class="text-center" >Import ID</th>
          <th class="text-center" >Item Code</th>
          <th class="text-center" >Item Description</th>
          <th class="text-center" >Brand</th>
          <th class="text-center" >Region</th>
          <th class="text-center" >Store Code</th>
          <th class="text-center" >Store Name</th>
          <th class="text-center" >From</th>
          <th class="text-center" >To</th>
          <th class="text-center" >Price</th>
          <th class="text-center" >Unit</th>
          <th class="text-center" >Extra</th>
          <th class="text-center" >MSG</th>
        </tr>
        </thead>
        <tbody>
        <% count = 0 %>
        <% @error_count = 0 %>
        <% @requests.each do |request| %>
            <tr class="<%= row_state(request.request_ok) %>">
              <td class="text-center"  ><%=  count += 1 %></td>
              <td class="text-center"><%= request.import_id %></td>
              <td class="text-center"><%= request.item_code %></td>
              <td class="col-md-2"><%= request.item_descr %></td>
              <td > <%= request.brand_short %></td>
              <td class="col-md-2 <%= status_region(request.region_short)%>"> <%= clean_array(request.region_short) %></td>
              <td > <%= request.store_code %></td>
              <td > <%= request.store_name %></td>
              <td class="text-center"><%= request.from.strftime("%d-%b-%Y") %></td>
              <td class="text-center"><%= request.to.strftime("%d-%b-%Y")  %></td>
              <td class="text-center"><%= number_to_currency(request.price, :unit => "") %></td>
              <td class="text-center"><%= request.unit %></td>
              <td class="text-center"><%= request.extra_1 %></td>
              <td class="text-center"><%= button_type(request.request_ok) %></td>
            </tr>
            <% @error_count += 1 unless request.request_ok %>
        <% end %>
        </tbody>
      </table>
    </div>
    <div class="table-responsive">
      <table class="table table-bordered table-striped">
        <tbody>
        Total Rows: <%= count %>
        Failures:  <%= @error_count %>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <% unless MmRequestJob.where(import_id: @requests.first.import_id)[0][:request_accepted] && MmRequestJob.where(import_id: @requests.first.import_id)[0][:advert_requests_accepted] %>
      <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <tbody>
          <tr>
            <td class="text-center"><%= button_to "Cancel", :back, method: :get, class: "btn btn-danger"  %></td>
            <% unless @error_count > 0 %>
                <%  MmRequestJob.where(import_id: @requests.first.import_id).update(request_accepted: true) %>
                <td class="text-center"><%= button_to "Accept Requests", mm_adverts_path(id: @requests.first.import_id), method: :post, class: "btn btn-success", data: { disable_with: "Processing. Please wait..." } %></td>
            <% end %>
          </tr>
          </tbody>
        </table>
      </div>
  <% else %>
      <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <tbody>
          <tr>
            <td class="text-center"><%= button_to "Back", :back, method: :get, class: "btn btn-success btn-sm"  %></td>
            <td class="text-center"><%= button_to "View Adverts", mm_advert_path, method: :get, class: "btn btn-success btn-sm"  %></td>
            <td class="text-center"><%= button_to "Request Jobs", mm_request_jobs_path, method: :get, class: "btn btn-success btn-sm"  %></td>
          </tr>
          </tbody>
        </table>
      </div>
  <% end %>
</div>
