<!DOCTYPE html>
<html>
<head>
  <title>BERTA</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag "https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css" %>
  <%= javascript_include_tag "https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<div id="main" class="container" role="main">
  <body>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/berta">BERTA</a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li li><%= link_to "Imports", :imports %></li>
          <span class="sr-only">(current)</span></a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">MeatMarket<span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><%= link_to " Request Jobs", mm_request_jobs_path %></li>
              <li class="divider"></li>
              <li><%= link_to "Assets Summary", mm_assets_index_path %></li>
              <li><%= link_to "Pre-Recorded Bodies", mm_assets_pb_bodies_path %></li>
              <li><%= link_to "Required Assets", mm_assets_required_path %></li>
              <li class="divider"></li>
              <li><%= link_to "Halaal Stores", mm_reports_halaal_stores_path %></li>
              <li><%= link_to "Non Halaal Products", mm_reports_non_halaal_products_path %></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">LongServices<span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><%= link_to "Under Development", ls_requests_path %></li>
              <li><%= link_to "Under Development", root_path %></li>
            </ul>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li li><%= link_to "Admin", admin_root_path, :target => "_blank" %></li>
          <% if current_user %>
              <li> <%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
  <% flash.discard.each do |type, content| %>
      <% if content.respond_to?('each')
           content.each do |item| %>
              <%= render 'layouts/alert',
                         type: type,
                         content: item %>
          <% end %>
      <% else %>
          <%= render 'layouts/alert',
                     type: type,
                     content: content %>
      <% end %>
  <% end %>
  <%= yield %>
  </body>
</div>
</body>
</html>
<script type="text/javascript" charset="utf-8">
    $(document).ready( function () {
        $('#table_starting_fifteen').DataTable({
            "paging": true,
            "lengthChange": true,
            "lengthMenu": [ 15, 25, 50, 75, 100, 200, 300, 500 ],
            "searching": true,
            "ordering": true,
            "info": true,
            "autoWidth": true
        });
    } );

    $(document).ready( function () {
        $('#table_starting_ten').DataTable({
            "paging": true,
            "lengthChange": true,
            "lengthMenu": [ 10, 15, 25, 50, 75, 100, 200, 300, 500 ],
            "searching": true,
            "ordering": true,
            "info": true,
            "autoWidth": true
        });
    } );
</script>